.race-list {
  font-family: "Roboto";
  padding: 8px;
  flex: 1;

  font-size: 14px;
  margin: 0;
}

.race-block {
  width: 220px;
}

.race-list li {
  margin: 4px 0;
  border-radius: 2px;
  list-style: none;
  padding: 2px 8px;
}

.race-list ul {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
}

.race-list-header {
  background: black;
  color: white;
  padding: 2px;
  padding-left: 4px;
}

.list-race-finished {
  background: lightgreen;
}

.list-race-next {
  background: lightpink;
}

.list-race-normal {
  background: white;
}

.target-open {
  align-self: center;
  margin: 1px;
  width: 14px;
  height: 14px;
  background: black;
  border-radius: 50%;
}

.target-closed {
  align-self: center;
  margin: 1px;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  border: 1px solid black;
}

.range {
  display: flex;
  border: 1px solid black;
  background: white;
  /* padding: 2px; */
}

.range-delayed {
  display: flex;
  border: 1px solid black;
  background: lightgray;
}

.shooting-player {
  flex: 1;
  margin-left: 12px;
  border: none;
  color: white;
  background: darkblue;
}

.shooting-container {
  display: flex;
  flex-direction: column;
  width: 220px;
}
