/* RESULTS BLOCK */

#finish-results {
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
}

.finish-results-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans";
  overflow-y: auto;
  
}

.finish-results-panel::-webkit-scrollbar {
  width: 0.6rem;
}

.finish-results-panel::-webkit-scrollbar-thumb {
  background-color: #7d85e9 ;
  border-radius: 6px;
} 

.race-results-header {
  font-family: "Raleway";
  font-size: 1.4rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  background-color: #1c215c;
  color: white;
  padding: 8px;
  border-radius: 10px;
}

.result-list {
  list-style: none;
  width: 170px;
  padding: 0;
  margin: 10px;
}

.result-list-item {
  display: flex;
  justify-content: space-between;
}

.result-block {
  margin-top: 20px;
}

.result-row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin: 1px 0;
  padding: 0 8px;
}

.results-standings {
  padding: 8px;
  flex: 1;

  font-size: 14px;
  margin: 0;
}

.player-bub {
  border: 1px solid black;
  border-radius: 50%;
  width: 18px;
  line-height: 18px;
  font-size: 10px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.player-name {
  width: 100px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-cell-small {
  width: 20px;
}

.player-cell-medium {
  width: 50px;
}
