body {
  font-family: "Consolas";
}

canvas {
  border: 1px solid black;
}

.results {
  /* width: 380px; */
  display: flex;
  flex-wrap: wrap;
}

.result-list {
  list-style: none;
  width: 170px;
  padding: 0;
  margin: 10px;
}

.result-list-item {
  display: flex;
  justify-content: space-between;
}

.result-block {
  margin-top: 20px;
}

.result-row {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin: 1px 0;
}

.relay-player-items {
  padding-left: 10px;
  font-size: 0.85rem;
}

.player-list {
  display: flex;
}

.control-group {
  margin-bottom: 12px;
}

.game-group {
  display: flex;
}

.player-bub {
  border: 1px solid black;
  border-radius: 50%;
  min-width: 18px;
  line-height: 16px;
  font-size: 10px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.player-name {
  width: 100px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-cell-small {
  width: 20px;
}
