body {
  font-family: 'Courier New', Courier, monospace;
}

.gray-back {
  background: lightgray;
}

.cell {
  width: 60px;
  color: red;
  margin-left: 5px;
}

.row div:first-child {
  display: inline-block;
  width: 150px;
  color: green;
}

.row div {
  display: inline-block;
  width: 80px;
}

#main-view {
  border: 1px solid black;
  width: 680px;
  float: left;
}

#results-view {
  border: 1px solid black;
  width: 450;
  margin-left: 20px;
  float: left;
}

.res-link {
  margin-right: 5px;
  cursor: pointer;
}

.res-link:hover {
  color: lightgray;
}

/* #results-view::before {
  content: "Results:";
} */

.btn-ctrl {
  width: 40px;
}

#main-canvas {
  position: absolute;
  top: 100px;
  left: 650px;
  width: 600px;
  height: 300px;
  border: 1px solid black;
}

.hidden {
  display: none;
}