@import url("https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap");
@import './race.css';
@import './result-table.css';
@import '../js/view/PlayerControls/playercontrols.css';

body {
  font-family: "Consolas";
  background-image: url("../static/background_image.png");
}

.game-group {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.race-results-row {
  flex-direction: column;
  width: 1000px;
}

.championship-standings-panel {
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.race-main-panel {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 1280px;
  background-color: #ebf5ff;
  padding: 20px;
  flex-direction: column;
}

.standings-row {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  margin: 2px 0;
  background: linear-gradient(90deg, rgba(2, 61, 83, 1) 0%, rgba(6, 79, 112, 1) 8%, rgba(0, 155, 209, 1) 100%);
}

.standings-header {
  text-transform: uppercase;
  font-style: italic;
  font-size: 18px;
  font-family: "Impact";
  color: #004663;
  padding: 4px;
  background: linear-gradient(
    90deg,
    rgba(207, 238, 252, 1) 0%,
    rgba(255, 255, 255, 1) 78%,
    rgba(207, 238, 252, 1) 100%
  );
}

.relay-player-items {
  padding-left: 10px;
  font-size: 0.85rem;
}

.player-list {
  display: flex;
}

.control-group {
  margin-bottom: 12px;
}


.intermediate-results {
  display: flex;
  flex: 1;
  align-content: flex-start;
  flex-direction: column;
  height: 120px;
  flex-wrap: wrap;
  padding: 8px;
}

.intermediate-row {
  display: flex;
  margin: 1px 0;
  gap: 4px;
}

.results-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  gap: 2px;
  padding: 0 8px;
}

.btn-waypoint {
  flex: 1;
  background: rgb(6, 79, 112);
  color: white;
  font-family: "Open sans";
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
