body {
  font-family: 'Courier New', Courier, monospace;
}

.cell {
  width: 60px;
  color: red;
  margin-left: 5px;
}

.row div {
  display: inline-block;
  width: 100px;
}

#results-view {
  margin-top: 20px;
}

#results-view::before {
  content: "Results:";
}

.btn-ctrl {
  width: 40px;
}
