.team-grid {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-auto-rows: auto; */
  width: 600px;
  font-family: "Raleway";
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.team-grid-section-header {
  /* grid-column: 1 / 6; */
  display: flex;
  background: linear-gradient(
    90deg,
    #1c215c 0%,
    #7d85e9 85%,
    #1c215c 100%
  );
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.4rem;
  font-family: "Raleway";
  color: white;
  padding: 8px;
  border-radius: 10px;
}

.team-grid-section-quota {
  background: none;
  margin-bottom: 12px;
}

.team-grid-row {
  display: flex;
  justify-content: space-between;
  border: 1px solid #1c215c;
  border-radius: 20px;
  padding: 8px;
  margin: 4px 0;
  background: white;
}

.team-grid-row .row-name {
  flex: 1.3;
}

.team-grid-row div {
  flex: 1;
}