.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  width: 600px;
  font-family: "Raleway";
  font-size: 1.3rem;
  font-weight: bold;
}

.team-grid-section-header {
  grid-column: 1 / 5;
  background: linear-gradient(
    90deg,
    rgba(207, 238, 252, 1) 0%,
    rgba(255, 255, 255, 1) 78%,
    rgba(207, 238, 252, 1) 100%
  );
  text-transform: uppercase;
  font-style: italic;
  font-size: 18px;
  font-family: "Impact";
  color: #004663;
  padding: 4px;
}
