.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  width: 600px;
  font-family: "Raleway";
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.team-grid-section-header {
  grid-column: 1 / 5;
  background: linear-gradient(
    90deg,
    #1c215c 0%,
    #7d85e9 85%,
    #1c215c 100%
  );
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.4rem;
  font-family: "Raleway";
  color: white;
  padding: 8px;
  border-radius: 10px;
}
