body {
  font-family: 'Courier New', Courier, monospace;
}

.gray-back {
  background: gray;
}

ul {
  list-style: none;
}

ul.test-box {
  width: 50%;
  padding: 20px;
  margin: 20px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 2px #ccc;
}

#test-results li.pass {
  color: green;
}

#test-results li.fail {
  color: red;
}

li.pass:before {
  content: "\2713";
  padding-right: 5px;
}

li.fail:before {
  content: "\2717";
  padding-right: 5px;
}

.test-passed:before {
  content: "\2713";
  padding-right: 5px;
}

.test-failed:before {
  content: "\2717";
  padding-right: 5px;
}

.test-passed {
  color: green;
}

.test-failed {
  color: red;

}